/* line 101, ../../sass/layout/intro.scss */
html,
body {
  height: 100%;
  margin: 0px;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}

/* line 111, ../../sass/layout/intro.scss */
#intro {
  position: relative;
  margin-top: -70px;
  height: 100%;
  margin-bottom: 10px;
  background: #FF474E;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FF474E, #58FFF0);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FF474E, #58FFF0);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FF474E, #58FFF0);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FF474E, #58FFF0);
  /* Standard syntax */
}
/* line 117, ../../sass/layout/intro.scss */
#intro #name,
#intro #description,
#intro #location,
#intro #title {
  text-align: center;
  position: relative;
  top: 25%;
  letter-spacing: 5px;
}
/* line 126, ../../sass/layout/intro.scss */
#intro #name {
  font-size: 100px;
}
/* line 129, ../../sass/layout/intro.scss */
#intro #description {
  font-size: 60px;
  line-height: 20px;
}
/* line 133, ../../sass/layout/intro.scss */
#intro #location {
  font-size: 15px;
  line-height: 45px;
}
/* line 137, ../../sass/layout/intro.scss */
#intro #title {
  font-style: bold;
  line-height: 40px;
}
/* line 141, ../../sass/layout/intro.scss */
#intro #computer {
  margin: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  opacity: 0.85;
}
/* line 149, ../../sass/layout/intro.scss */
#intro #ipad,
#intro #remote {
  margin: auto;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 700px;
  max-width: 700px;
  opacity: 0.85;
}
/* line 160, ../../sass/layout/intro.scss */
#intro #keyboard {
  position: absolute;
  opacity: 0.85;
  right: 100%;
  bottom: 0;
  max-height: 700px;
  max-width: 700px;
  -ms-transform: rotate(60deg);
  /* IE 9 */
  -webkit-transform: rotate(60deg);
  /* Chrome, Safari, Opera */
  -o-transform: rotate(60deg);
  /* Chrome, Safari, Opera */
  transform: rotate(60deg);
}
/* line 175, ../../sass/layout/intro.scss */
#intro #iphone,
#intro #mario {
  position: absolute;
  opacity: 0.85;
  right: 105%;
  bottom: 0;
  max-height: 600px;
  max-width: 600px;
  -ms-transform: rotate(10deg);
  /* IE 9 */
  -webkit-transform: rotate(10deg);
  /* Chrome, Safari, Opera */
  -o-transform: rotate(10deg);
  /* Chrome, Safari, Opera */
  transform: rotate(10deg);
}
/* line 191, ../../sass/layout/intro.scss */
#intro #mouse {
  position: absolute;
  opacity: 0.85;
  left: 100%;
  bottom: 0;
  max-height: 300px;
  max-width: 300px;
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
/* line 203, ../../sass/layout/intro.scss */
#intro #android {
  position: absolute;
  opacity: 0.85;
  left: 105%;
  bottom: 0;
  max-height: 600px;
  max-width: 600px;
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
/* line 215, ../../sass/layout/intro.scss */
#intro #pokemon {
  position: absolute;
  opacity: 0.85;
  left: 105%;
  bottom: 0;
  max-height: 550px;
  max-width: 550px;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

/* line 229, ../../sass/layout/intro.scss */
#resume {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -45px;
  margin-bottom: 10px;
  background: #58FFF0;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#58FFF0, #E5DE68);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#58FFF0, #E5DE68);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#58FFF0, #E5DE68);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#58FFF0, #E5DE68);
  /* Standard syntax */
}
/* line 236, ../../sass/layout/intro.scss */
#resume .sectiontitle {
  text-align: center;
  font-size: 34px;
  position: relative;
  top: 5%;
}
/* line 239, ../../sass/layout/intro.scss */
#resume #vertical-line {
  position: absolute;
  border: 1px dotted #8F8889;
  top: 10%;
  bottom: 10%;
  left: 50%;
}
/* line 246, ../../sass/layout/intro.scss */
#resume .left {
  margin-top: 4.5%;
  margin-right: 51%;
  width: 890px;
  height: 950px;
}
/* line 253, ../../sass/layout/intro.scss */
#resume .left .employment h3 {
  text-align: right;
  line-height: 40px;
}
/* line 22, ../../sass/layout/intro.scss */
#resume .left .employment .content1 #date {
  margin-top: 5.5%;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #FF3379;
  margin-left: 88%;
}
/* line 34, ../../sass/layout/intro.scss */
#resume .left .employment .content1 #company {
  position: relative;
  left: 76%;
  bottom: 3px;
  font-size: 15px;
  font-style: italic;
}
/* line 41, ../../sass/layout/intro.scss */
#resume .left .employment .content1 #title {
  position: relative;
  left: 86%;
  bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}
/* line 48, ../../sass/layout/intro.scss */
#resume .left .employment .content1 #company,
#resume .left .employment .content1 #title {
  position: relative;
}
/* line 52, ../../sass/layout/intro.scss */
#resume .left .employment .content1 #des {
  position: relative;
  bottom: 27px;
  text-align: right;
  width: 350px;
  height: 40px;
  left: 61%;
}
/* line 22, ../../sass/layout/intro.scss */
#resume .left .employment .content2 #date {
  margin-top: 15.5%;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #FF3379;
  margin-left: 88%;
}
/* line 34, ../../sass/layout/intro.scss */
#resume .left .employment .content2 #company {
  position: relative;
  left: 74%;
  bottom: 3px;
  font-size: 15px;
  font-style: italic;
}
/* line 41, ../../sass/layout/intro.scss */
#resume .left .employment .content2 #title {
  position: relative;
  left: 84%;
  bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}
/* line 48, ../../sass/layout/intro.scss */
#resume .left .employment .content2 #company,
#resume .left .employment .content2 #title {
  position: relative;
}
/* line 52, ../../sass/layout/intro.scss */
#resume .left .employment .content2 #des {
  position: relative;
  bottom: 27px;
  text-align: right;
  width: 350px;
  height: 40px;
  left: 61%;
}
/* line 22, ../../sass/layout/intro.scss */
#resume .left .employment .content3 #date {
  margin-top: 15.5%;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #FF3379;
  margin-left: 88%;
}
/* line 34, ../../sass/layout/intro.scss */
#resume .left .employment .content3 #company {
  position: relative;
  left: 76%;
  bottom: 3px;
  font-size: 15px;
  font-style: italic;
}
/* line 41, ../../sass/layout/intro.scss */
#resume .left .employment .content3 #title {
  position: relative;
  left: 86%;
  bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}
/* line 48, ../../sass/layout/intro.scss */
#resume .left .employment .content3 #company,
#resume .left .employment .content3 #title {
  position: relative;
}
/* line 52, ../../sass/layout/intro.scss */
#resume .left .employment .content3 #des {
  position: relative;
  bottom: 27px;
  text-align: right;
  width: 350px;
  height: 40px;
  left: 61%;
}
/* line 268, ../../sass/layout/intro.scss */
#resume .right {
  position: absolute;
  margin-left: 51%;
  margin-top: -52.3%;
  text-align: left;
  width: 720px;
  height: 920px;
}
/* line 277, ../../sass/layout/intro.scss */
#resume .right .education h3 {
  text-align: left;
  margin-top: -0.5%;
  line-height: 40px;
}
/* line 63, ../../sass/layout/intro.scss */
#resume .right .education .edu_content1 #edu_date {
  margin-top: 6.95%;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #FF3379;
  margin-right: 88%;
}
/* line 75, ../../sass/layout/intro.scss */
#resume .right .education .edu_content1 #school {
  position: relative;
  bottom: 3px;
  font-size: 15px;
  font-style: italic;
}
/* line 81, ../../sass/layout/intro.scss */
#resume .right .education .edu_content1 #major {
  position: relative;
  left: 25%;
  bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}
/* line 88, ../../sass/layout/intro.scss */
#resume .right .education .edu_content1 #school,
#resume .right .education .edu_content1 #major {
  position: relative;
}
/* line 92, ../../sass/layout/intro.scss */
#resume .right .education .edu_content1 #edu_des {
  position: relative;
  bottom: 27px;
  width: 350px;
  height: 40px;
}
/* line 63, ../../sass/layout/intro.scss */
#resume .right .education .edu_content2 #edu_date {
  margin-top: 19.05%;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #FF3379;
  margin-right: 88%;
}
/* line 75, ../../sass/layout/intro.scss */
#resume .right .education .edu_content2 #school {
  position: relative;
  bottom: 3px;
  font-size: 15px;
  font-style: italic;
}
/* line 81, ../../sass/layout/intro.scss */
#resume .right .education .edu_content2 #major {
  position: relative;
  left: 25%;
  bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}
/* line 88, ../../sass/layout/intro.scss */
#resume .right .education .edu_content2 #school,
#resume .right .education .edu_content2 #major {
  position: relative;
}
/* line 92, ../../sass/layout/intro.scss */
#resume .right .education .edu_content2 #edu_des {
  position: relative;
  bottom: 27px;
  width: 350px;
  height: 40px;
}
/* line 63, ../../sass/layout/intro.scss */
#resume .right .education .edu_content3 #edu_date {
  margin-top: 19.05%;
  font-weight: bold;
  color: white;
  text-align: center;
  width: 115px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  background-color: #FF3379;
  margin-right: 88%;
}
/* line 75, ../../sass/layout/intro.scss */
#resume .right .education .edu_content3 #school {
  position: relative;
  bottom: 3px;
  font-size: 15px;
  font-style: italic;
}
/* line 81, ../../sass/layout/intro.scss */
#resume .right .education .edu_content3 #major {
  position: relative;
  left: 25%;
  bottom: 40px;
  font-size: 18px;
  font-weight: bold;
}
/* line 88, ../../sass/layout/intro.scss */
#resume .right .education .edu_content3 #school,
#resume .right .education .edu_content3 #major {
  position: relative;
}
/* line 92, ../../sass/layout/intro.scss */
#resume .right .education .edu_content3 #edu_des {
  position: relative;
  bottom: 27px;
  width: 350px;
  height: 40px;
}

/* line 296, ../../sass/layout/intro.scss */
.portfolio {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -45px;
  margin-bottom: 10px;
  background: #E5DE68;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#E5DE68, #1DB0F0);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#E5DE68, #1DB0F0);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#E5DE68, #1DB0F0);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#E5DE68, #1DB0F0);
  /* Standard syntax */
  /* Slideshow container */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Caption text */
  /* Number text (1/3 etc) */
}
/* line 304, ../../sass/layout/intro.scss */
.portfolio .sectiontitle {
  text-align: center;
  font-size: 34px;
  position: relative;
  top: 5%;
}
/* line 309, ../../sass/layout/intro.scss */
.portfolio .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: 10% auto;
}
/* line 315, ../../sass/layout/intro.scss */
.portfolio img {
  height: 700px;
}
/* line 321, ../../sass/layout/intro.scss */
.portfolio .prev, .portfolio .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
/* line 337, ../../sass/layout/intro.scss */
.portfolio .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* line 343, ../../sass/layout/intro.scss */
.portfolio .prev:hover, .portfolio .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 348, ../../sass/layout/intro.scss */
.portfolio .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* line 359, ../../sass/layout/intro.scss */
.portfolio .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* line 367, ../../sass/layout/intro.scss */
.portfolio .dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* line 378, ../../sass/layout/intro.scss */
.portfolio .active, .portfolio .dot:hover {
  background-color: #717171;
}
/* line 382, ../../sass/layout/intro.scss */
.portfolio .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}
/* line 402, ../../sass/layout/intro.scss */
.contact {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -50px;
  margin-bottom: 10px;
  background: #1DB0F0;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1DB0F0, #FADDB5);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1DB0F0, #FADDB5);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1DB0F0, #FADDB5);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1DB0F0, #FADDB5);
  /* Standard syntax */
}
/* line 409, ../../sass/layout/intro.scss */
.contact .sectiontitle {
  text-align: center;
  font-size: 34px;
  position: relative;
  top: 5%;
}
/* line 413, ../../sass/layout/intro.scss */
.contact #contact_form {
  position: relative;
  margin-top: 10%;
  line-height: 30px;
  left: 30%;
  margin-right: 50%;
}
/* line 420, ../../sass/layout/intro.scss */
.contact #contact_form #name {
  height: 50px;
}
/* line 424, ../../sass/layout/intro.scss */
.contact #contact_form #email {
  height: 50px;
}
